.Botoes{
    button{
        margin: 30px;
        padding: 20px;
        background-color: rgb(1, 129, 204);
        border: none;
        color: #ffffff;
        border-radius: 100px;
        cursor: pointer;
        font-size: 20px;
    }
}